body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(120deg,#ff758c,#ff7eb3);
  color: white;
  text-align: center;
}

header {
  padding: 30px;
}

section {
  padding: 25px;
}

.gallery img {
  width: 200px;
  margin: 10px;
  border-radius: 15px;
}

.card {
  background: rgba(255,255,255,0.2);
  padding: 15px;
  margin: 10px;
  border-radius: 15px;
}

video {
  width: 90%;
  max-width: 400px;
  border-radius: 15px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background: #ff2e63;
  color: white;
  font-size: 16px;
}

footer {
  padding: 20px;
  font-size: 14px;
}
